<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Jane's Task Manager</title>
</head>

<body>
<header>
    <!--/*/ <th:block th:include="fragments/header :: header('home')"></th:block> /*/-->
</header>

<main class="container">
    <h1 class="display-4">Welcome to Jane's Task Manager</h1>
    <p class="lead">This application will help Jane organise and manage her Task Efficiently </p>

    <hr class="my-4">
    <p>Most features require logging in. Not authorized users have access to the welcome screen and login or registration panel.</p>


</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</body>
</html>